# Virtual environment directory
.venv/

# Local environment variables
.env                  

# Python cache directories
__pycache__/ 

# SQLite database         
*.sqlite3            

# Staticfiles
staticfiles/
