{% extends "base.html" %}

{% load static %}

{% block title %}Experience{% endblock %}

{% block content %}
    <main class="my-5">
        <div class="container">
            <section id="meExperience" class="row my-5">
                <h2 class="display-2 font-monospace fw-bold text-center">Experience</h2>
                <article class="my-5" id="modalityHealthcareAssistant">
                    <h6 class="display-6 font-monospace fw-bold fs-2">Modality/Healthcare Assistant | Hammersmith Hospital Imperial College NHS Trust | Dec 2020 - Now</h6>
                    <p class="font-monospace fs-5 my-3">
                        Provided comprehensive patient care in a hospital setting. Assisted with 
                        imaging procedures, ensuring patient comfort and safety. Supported 
                        sonographers, radiographers, and radiologists during scans. Contributed to the 
                        smooth operation of the department, both during weekdays and weekends. 
                        Delivered person-centered care on hospital wards, including personal care, 
                        feeding, and vital sign and blood sugar monitoring.
                    </p>
                </article>
                <article id="healthcareAssistantParkview">
                    <h6 class="display-6 font-monospace fw-bold fs-2">Healthcare Assistant | Parkview Care Home BexleyHeath | Nov 2019 - Dec 2020</h6>
                    <p class="font-monospace fs-5 my-3">
                        Provided compassionate care to elderly clients in care home settings.
                        Assisted with daily living activities, including bathing, dressing, feeding. 
                        Maintained a safe, hygienic environment. Achieved a perfect attendance record and 
                        received positive feedback for exceptional care. Successfully contributed to 
                        the well-being and independence of clients.
                    </p>
                </article>
                <article class="my-5" id="railwayWorker">
                    <h6 class="display-6 font-monospace fw-bold fs-2">Trackman/Groundworker/Controller of Site Safety | Resourcing Solutions | Aug 2014 - Jan 2016</h6>
                    <p class="font-monospace fs-5 my-3">
                        Worked in the railway, maintaining the track, ensuring the track is safe for the trains to run on.
                        Involved in the construction of the railway tracks, ensuring the track is laid properly and the
                        ballast is compacted. Also involved in the construction of other railway infrastructure e.g
                        platforms, bridges, laying  electrical cables etc. Ensured the safety of the workers and the public 
                        by following the rules and regulations of the railway.
                    </p>
                </article>
                <article id="healthcareAssistantSunrise">
                    <h6 class="display-6 font-monospace fw-bold fs-2">Healthcare Assistant | Sunrise Senior Living Purley | Mar 2011 - Aug 2014</h6>
                    <p class="font-monospace fs-5 my-3">
                        Provided compassionate care to elderly clients in care home settings.
                        Assisted with daily living activities, including bathing, dressing, feeding, 
                        and medication administration. Accurately recorded vital signs and maintained 
                        a safe, hygienic environment. Achieved a perfect attendance record and 
                        received positive feedback for exceptional care. Successfully contributed to 
                        the well-being and independence of clients.
                    </p>
                </article>
                <article class="my-5" id="healthcareAssistantBoltersCorner">
                    <h6 class="display-6 font-monospace fw-bold fs-2">Healthcare Assistant | Bolters Corner Care Home Bolters Corner | Jan 2011 - Feb 2011</h6>
                    <p class="font-monospace fs-5 my-3">
                        Provided compassionate care to elderly clients in care home settings.
                        Assisted with daily living activities, including bathing, dressing, feeding. 
                        Maintained a safe, hygienic environment. Achieved a perfect attendance record and 
                        received positive feedback for exceptional care. Successfully contributed to 
                        the well-being and independence of clients.
                    </p>
                </article>
                <article id="domiciliaryHealthcareAssistant">
                    <h6 class="display-6 font-monospace fw-bold fs-2">Domiciliary Healthcare Assistant | Care Providers Ltd | Sep 2010 - Jan 2011</h6>
                    <p class="font-monospace fs-5 my-3">
                        Provided compassionate, personalized care to elderly clients in their homes.
                        Built trusting relationships and assisted with daily living activities, 
                        including bathing, dressing, and feeding. Ensured medication administration 
                        and maintained a safe, hygienic environment. Received positive feedback for 
                        exceptional care and client satisfaction. Successfully enabled clients to 
                        maintain independence and live comfortably in their homes.
                    </p>
                </article>
            </section>
        </div>
    </main>
{% endblock %}