{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <main class="my-5">
        <div class="container">
            <div class="row">
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>You better lose yourself in the music, the moment you own it, you better never let it go. You only get one shot, do not miss your chance to blow. This opportunity comes once in a lifetime.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Eminem <cite title="Loose yourself (8 Mile)">Lose yourself (8 Mile)</cite>
                    </figcaption>
                </figure>
                <h1 class="display-1 fw-bolder text-center">Me Official Website</h1>
                <p class="lead text-center">
                    <a href="{% url 'about' %}" class="btn btn-lg btn-dark fw-bold border-white bg-dark">See more</a>
                </p>
            </div>
        </div>
    </main>
{% endblock %}

