{% extends "base.html" %}

{% load static %}

{% block title %}Skills{% endblock %}

{% block content %}
    <main class="my-3">
        <div class="container">
            <div class="p-5 text-center">
                <div class="row">

                    <h1 class="display-1 text-body-emphasis">Me Skills</h1>
                </div>
            <div class="row row-cols-1 row-cols-md-2 g-4 my-5">
                <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title display-6 font-monospace fw-bold fs-2">Programming Languages</h6>
                    <p class="card-text fs-5">
                        Python (Proficient), C / C++ / JavaScript/Node.js (Prior Proficiency – Can Refresh Quickly), 
			PHP (Working Knowledge)
                    </p>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title display-6 font-monospace fw-bold fs-2">Web Development</h6>
                        <p class="card-text fs-5">
                            HTML / CSS / Bootstrap / Express.js / Flask (Working Knowledge), Django (Intermediate Proficiency)
                        </p>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title display-6 font-monospace fw-bold fs-2">Database Management</h6>
                        <p class="card-text fs-5">
                            MySQL / SQLite (Intermediate Proficiency), Redis / MongoDB (Working Knowledge)
                        </p>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title display-6 font-monospace fw-bold fs-2">Version Control</h6>
                        <p class="card-text fs-5">
                            Git / GitHub (Intermediate Proficiency)
                        </p>
                    </div>
                </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title display-6 font-monospace fw-bold fs-2">Operating Systems</h6>
                        <p class="card-text fs-5">
                            Linux (Intermediate Proficiency)
                        </p>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title display-6 font-monospace fw-bold fs-2">AI</h6>
                        <p class="card-text fs-5">
                            AI Prompt Engineering (Intermediate Proficiency)
                        </p>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title display-6 font-monospace fw-bold fs-2">Containerization</h6>
                        <p class="card-text fs-5">
                            Docker (Intermediate Proficiency), Kubernetes / OpenShift (Working Knowledge)
                        </p>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title display-6 font-monospace fw-bold fs-2">Infrastructure as Code (IaC)</h6>
                        <p class="card-text fs-5">
                            Terraform / Ansible / AWS CloudFormation (Working Knowledge)
                        </p>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title display-6 font-monospace fw-bold fs-2">Cloud Services</h6>
                        <p class="card-text fs-5">
                            AWS (Working Knowledge)
                        </p>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title display-6 font-monospace fw-bold fs-2">CI/CD</h6>
                        <p class="card-text fs-5">
                            Jenkins / AWS DevOps (Working Knowledge)
                        </p>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title display-6 font-monospace fw-bold fs-2">Scripting & Automation</h6>
                        <p class="card-text fs-5">
                            Bash / Shell Scripting / AWK (Intermediate Proficiency)
                        </p>
                    </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-title display-6 font-monospace fw-bold fs-2">Tools</h6>
                        <p class="card-text fs-5">
                            VS Code / Apache HTTP Server/VMs (Intermediate Proficiency)
			    Jupyter Notebook / Sphinx / Postman / Elasticsearch / Kibana (Working Knowledge)
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
