{% extends "base.html" %}

{% load static %}

{% block title %}Enter new password{% endblock %}

{% block content %}
    <main class="my-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    {% if form %}
                        <div class="row text-start mt-4">
                            <div class="col-12">
                                <p class="lead"> Enter new password</p>
                                <p class="fw-bold">Please enter your new password twice so that we can verify you typed it in correctly</p>
                            </div>
                        </div>
                        <form method="post" action=".">
                            {% csrf_token %}
                            <div class="row text-start mt-4">
                                <div class="col-sm-4">
                                    <label for="inputNewPassword" class="col-form-label">New password:</label>
                                </div>
                                <div class="col-sm-6">
                                    {{ form.new_password1 }}
                                    <div id="inputNewPasswordHelp" class="form-text">
                                        Password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character (@$!%*?&)
                                    </div>
                                </div>
                            </div>
                            <div class="row text-start mt-4">
                                <div class="col-sm-4">
                                    <label for="inputConfirmPassword" class="col-form-label">Confirm password:</label>
                                </div>
                                <div class="col-sm-6">
                                    {{ form.new_password2 }}
                                </div>
                            </div>
                            {% if form.new_password2.errors %}
                                {% for error in form.new_password2.errors %}
                                    <div class="alert alert-primary myAlerts alert-dismissible fade show" id="myInputNewPasswordNoMatchAlert" role="alert">
                                        <strong>{{ error }}</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="row text-start mt-4">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Reset my password</button>
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <div class="alert alert-danger" role="alert"> 
                            The password reset link is invalid, possibly because it has already been used. Please request a new password reset. 
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'docs/assets/js/myAlerts.js' %}"></script>
{% endblock %}