{% extends "base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block title %}Password change successful{% endblock %}

{% block content %}
    <main class="my-5">
        <div class="container">
            <div class="row">
                <p class="lead mx-3 my-3">
                    Password change successful
                </p>
                <p class="fw-bold mx-3">Your password was changed</p>
                <a href="{% url 'home' %}" class="btn btn-primary mt-3 w-auto mx-4">Return to Home</a>
            </div>
        </div>
    </main>
{% endblock %}

