{% extends "base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
    <main class="my-5">
        <div class="container">
            <div class="row">
                <p class="lead mx-3 my-3">
                    Password reset complete
                </p>
                <p class="fw-bold mx-3">Your password has been set. You may go ahead and login now</p>
                <a href="{% url 'login' %}" class="btn btn-primary mt-3 w-auto mx-4">Login</a>
            </div>
        </div>
    </main>
{% endblock %}

