{% extends "base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block title %}Password reset sent{% endblock %}

{% block content %}
    <main class="my-5">
        <div class="container">
            <div class="row">
                <p class="lead mx-3 my-3">
                    Password reset sent
                </p>
                <p class="fw-bold mx-3">
                    We have emailed you instructions for setting your password. You should receive it shortly
                </p>
            </div>
        </div>
    </main>
{% endblock %}
