{% extends "base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block title %}Password Change{% endblock %}

{% block content %}
    <main class="my-5">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="row text-start mt-4">
                        <div class="col-12">
                            <p class="lead">Password Change</p>
                            <p class="fw-bold">Please enter your old password for security's sake, and then enter the new password twice so we can verify you typed it in correctly.</p>
                        </div>
                    </div>
                    <div class="row text-start mt-4">
                        <div class="col-12">
                            <form method="post" action=".">
                                {% csrf_token %}
                                <div class="form-group row mb-3">
                                    <label for="oldPassword" class="col-sm-4 col-form-label">Old Password</label>
                                    <div class="col-sm-8">
                                        {% render_field form.old_password aria-describedby="oldPasswordhelp" type="password" class="form-control" id="oldPassword" required='' %}
                                    </div>
                                </div>
                                {% if form.old_password.errors %}
                                    {% for error in form.old_password.errors %}
                                        <div class="alert alert-primary myAlerts alert-dismissible fade show" id="myOldPasswordNoMatchAlert" role="alert">
                                            <strong>{{ error }}</strong>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <div class="form-group row mb-3">
                                    <label for="newPassword" class="col-sm-4 col-form-label">New Password</label>
                                    <div class="col-sm-8">
                                        {% render_field form.new_password1 minlength="8" maxlength="20" title="Password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character (@$!%*?&)" aria-describedby="newPasswordhelp" type="password" class="form-control" id="newPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}" required='' %}
                                        <small id="newPasswordHelp" class="form-text text-muted">Password must be 8 - 20 characters long and contain at least one uppercase letter, one lowercase letter, one digit, and one special character (@$!%*?&).</small>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <label for="newPasswordConfirmation" class="col-sm-4 col-form-label">New Password Confirmation</label>
                                    <div class="col-sm-8">
                                        {% render_field form.new_password2 minlength="8" maxlength="20" aria-describedby="newPasswordconfirmationhelp" type="password" class="form-control" id="newPasswordConfirmation" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}" required='' %}
                                    </div>
                                </div>
                                
                                {% if form.new_password2.errors %}
                                    {% for error in form.new_password2.errors %}
                                        <div class="alert alert-primary myAlerts alert-dismissible fade show" id="myPasswordNoMatchAlert" role="alert">
                                            <strong>{{ error }}</strong>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <button type="submit" class="btn btn-primary">CHANGE MY PASSWORD</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main> 
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'docs/assets/js/myAlerts.js' %}"></script>
{% endblock %}